# Copier ce fichier vers .env et adapter les valeurs
# NB : sur macOS, éviter le port 5000 (occupé par le récepteur AirPlay)
PORT=5001
MONGO_URI=mongodb://localhost:27017/gmc_tasks
NODE_ENV=development
